VITE_FIREBASE_API_KEY=cole_aqui
VITE_FIREBASE_AUTH_DOMAIN=cole_aqui
VITE_FIREBASE_PROJECT_ID=cole_aqui
VITE_FIREBASE_STORAGE_BUCKET=cole_aqui
VITE_FIREBASE_MESSAGING_SENDER_ID=cole_aqui
VITE_FIREBASE_APP_ID=cole_aqui
